html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    overflow: auto;
}

#drawflow {
    height: 100vh;
    width: 100%;
    top: 0 !important
}

#jsonOutput {
    background: #222;
    color: #0f0;
    padding: 10px;
    margin: 0;
    height: 150px;
    overflow: auto;
}

.drawflow-node .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px !important;
}

.drawflow-node .box {
    padding: 15px 20px !important;
}

.drawflow-delete {
    line-height: 25px !important;
}